/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

@font-face {
	font-family: "HankenGrotesk";
	src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "HankenGrotesk", sans-serif;
	background-color: #f1f3f5;
	font-size: 1.8rem;
	font-weight: 500;
}


html {
    font-size: 62.5%;
}


.content-container {


    /* background-color: red; */
	/*display: flex;
    justify-content: flex-start;*/


	/* justify-content: center; */

    
	/* top: 50%; */

	/*margin-top: 25%;*/
	/* transform: translateY(50%); */
}

.section-container {
	max-width: 36.8rem;
	/*height: 512px;*/
}


/***********************/
/* AVAREGE SCORE */
/***********************/

.average-score-container {
	background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	border-radius: 32px;
	text-align: center;
	padding: 3.8rem 5.4rem 4.6rem 5.4rem;
	padding: 4.6rem 5.4rem;
}

.average-score-heading {
	font-size: 2.4rem;
	font-weight: 700;
	color: hsl(241, 100%, 89%);
	margin-bottom: 3.5rem;
}

.average-score-circle {
	background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 20rem;
	margin: 0 auto;
	aspect-ratio: 1;
	border-radius: 100%;
	margin-bottom: 2.8rem;
}

.average-score-circle span:first-child {
	font-size: 7.2rem;
	font-weight: 800;
	line-height: 7.2rem;
	color: hsl(0, 0%, 100%);
}

.average-score-circle span:last-child {
	font-size: 1.8rem;
	font-weight: 700;
	color: hsl(241, 100%, 89%);
}

.average-score-feedback {
	font-size: 3.2rem;
	font-weight: 700;
	color: hsl(0, 0%, 100%);
	margin-bottom: 1.4rem;
}

.average-score-description {
	font-size: 1.8rem;
	font-weight: 500;
	color: hsl(241, 100%, 89%)
}




/* ALL SCORES*/

.all-scores-section {
	background-color: hsl(0, 0%, 100%);
	border-radius: 0 32px 32px 0;
}

.all-scores-section h2 {
	margin-bottom: 24px;
	font-size: 24px;
	font-weight: 700;
	color: hsl(224, 30%, 27%);
}

ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

li {
	padding: 16px;
	width: 100%;
	border-radius: 9px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.category {
	display: flex;
	align-items: center;
	gap: 12px;
}

.score {
	font-weight: 700;
	color: hsl(224, 30%, 27%);
}

.score span{
	color: hsla(224, 30%, 27%, 0.5);
}

.reaction-background {
	background-color: hsl(0, 100%, 67%, 0.06);
}

.reaction-color {
	color: hsl(0, 100%, 67%);
}

.memory-background {
	background-color: hsla(39, 100%, 56%, 0.06);
}

.memory-color {
	color: hsl(39, 100%, 56%);
}

.verbal-background {
	background-color: hsla(166, 100%, 37%, 0.06);
}

.verbal-color {
	color: hsl(166, 100%, 37%);
}

.visual-background {
	background-color: hsla(234, 85%, 45%, 0.06);
}

.visual-color {
	color: hsl(234, 85%, 45%);
}

button {
	display: block;
	font-size: 18px;
	font-weight: 700;
	color: hsl(221, 100%, 96%);
	width: 100%;
	border: none;
	border-radius: 100px;
	background-color: hsl(224, 30%, 27%);
	padding: 16px;
	margin-top: 32px;
	cursor: pointer;
}

button:active {
	background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	color: hsl(0, 0%, 100%);
}


