/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/********************************/
/* GENERAL REUSABLE STYLES */
/********************************/


@font-face {
	font-family: "HankenGrotesk";
	src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "HankenGrotesk", sans-serif;
	background-color: #dee2e6;
	font-size: 1.8rem;
	font-weight: 500;

	/* Just to center the content on a browser */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}


html {
    font-size: 62.5%;
}


.heading {
	font-size: 2.4rem;
	font-weight: 700;
}


/***********************/
/* CONTENT CONTAINER */
/***********************/
.content-container {
	display: flex;
}


/***********************/
/* AVAREGE SCORE */
/***********************/

.result-container {
	width: 100%;
	max-width: 36.8rem;
	background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	border-radius: 3.2rem;
	text-align: center;
	padding: 4.6rem 5.4rem;
	margin-right: -2.8rem;
	z-index: 10;
}

.result-heading {
	color: hsl(241, 100%, 89%);
	margin-bottom: 3.5rem;
}

.result-circle {
	background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 20rem;
	margin: 0 auto;
	aspect-ratio: 1;
	border-radius: 100%;
	margin-bottom: 2.8rem;
}

.result-circle span:first-child {
	font-size: 7.2rem;
	font-weight: 800;
	line-height: 7.2rem;
	color: hsl(0, 0%, 100%);
}

.result-circle span:last-child {
	font-size: 1.8rem;
	font-weight: 700;
	color: hsl(241, 100%, 89%);
}

.result-feedback {
	font-size: 3.2rem;
	font-weight: 700;
	color: hsl(0, 0%, 100%);
	margin-bottom: 1.4rem;
}

.result-description {
	font-size: 1.8rem;
	font-weight: 500;
	color: hsl(241, 100%, 89%)
}


/***********************/
/* SUMMARY SECTION */
/***********************/

.summary-section {
	width: 100%;
	max-width: 39.6rem; /*368(original) + 28(ovrerlap)*/
	background-color: #FFF;
	border-radius: 0 3.2rem 3.2rem 0;
	padding: 4.6rem 4rem 4.6rem 6.8rem; /*4rem(original) + 2.8rem(overlap)*/
}

.summary-section-heading {
	color: hsl(224, 30%, 27%);
	margin-bottom: 2.8rem;
}

.summary-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.summary-list li {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 1.6rem;
	border-radius: 1.2rem;
	padding: 1.7rem 1.6rem;
}

.score {
	width: 100%;
	display: block;
	text-align: right;
}

.score {
	font-size: 1.8rem;
	font-weight: 700;
	color: hsl(224, 30%, 27%);
}

.score span{
	display: inline-block;
	color: hsl(224, 30%, 27%, 0.5);
	margin-left: 0.8rem;
}

.reaction-background {
	background-color: hsl(0, 100%, 67%, 0.05);
}

.reaction-color {
	color: hsl(0, 100%, 67%);
}

.memory-background {
	background-color: hsla(39, 100%, 56%, 0.06);
}

.memory-color {
	color: hsl(39, 100%, 56%);
}

.verbal-background {
	background-color: hsla(166, 100%, 37%, 0.06);

}

.verbal-color {
	color: hsl(166, 100%, 37%);
}

.visual-background {
	background-color: hsla(234, 85%, 45%, 0.06);
}

.visual-color {
	color: hsl(234, 85%, 45%);
}


button {
	display: block;
	cursor: pointer;
	width: 100%;
	font-size: 1.8rem;
	font-weight: 700;
	background-color: hsl(224, 30%, 27%);
	color: hsl(221, 100%, 96%);
	border: none;
	border-radius: 10rem;
	padding: 1.7rem;
	margin-top: 4.1rem;
}

button:hover {
	background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	color: hsl(0, 0%, 100%);
}


/***********************/
/* ATTRIBUTION */
/***********************/

.attribution {
	font-size: 1.1rem; 
	text-align: center; 
	margin-top: 6.4rem;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
